.message
    position fixed
    left 0
    top 0
    right 0
    bottom 0
    z-index 20
    t()
    center()
    .wrap
        max-width 750px
        width 100%
        padding 100px 0
        border-radius 30px
        background-color white
        box-shadow 0 0px 26px #dadada
        center()
    
    &-text
        font-size 24px
        font-weight 600
