.new
    position fixed
    left 0
    top 0
    right 0
    bottom 0
    background-color white
    z-index 10
    display flex
    justify-content center
    padding-top 100px
    overflow hidden
    overflow-y scroll
    pointer-events all
    t()
    textarea
        border none

    &-header
        font-size 42px
        line-height 46px
        text-transform uppercase
        font-weight 600
        color black
        width 100%
        overflow hidden
        +placeholder()
            color #a9a9a9
    
    &-wrap
        flex()
        align-items center
        margin-top 40px
        position relative
        z-index 2
    
    &-cats
        flex()
        t()

        &__item
            margin-right 10px
            margin-bottom 10px
            padding 7px 20px
            color white
            background-color #52a3ca
            border-radius 30px
            font-size 18px
            color white
            font-weight 600
            cursor pointer
            t()
            &[data-cat="skate"]
                background-color #fd9e80
            &[data-cat="ski"]
                background-color #5d55ad
            &[data-cat="wind"]
                background-color #52cab9
            &[data-cat="long"]
                background-color #ca528f
            &:hover
                background-color #eb5353
            
        
        &__add
            height 32px
            width 32px
            border-radius 50%
            background linear-gradient(15deg, #52a3ca, #5d55ad)
            cursor pointer
            position relative
            margin-bottom 10px
            center()
            img
                width 17px
                position relative
                z-index 2
                pointer-events none
            &:after
                content ''
                position absolute
                left 0
                right 0
                top 0
                bottom 0
                border-radius 50%
                background-color #52a3ca
                transition 0.6s all
            &.active
                pointer-events none
                img
                    opacity 0
                    pointer-events none
                &:after
                    transform scale(80)
                    pointer-events none
    
    &-content
        width 100%
        max-width 750px
    
    &-center
        width 100%
        padding-bottom 50px
    
    &-item
        width 100%
        position relative
        margin-top 32px
        textarea
            font-size 16px
            line-height 26px
            font-weight 500
            padding 18px 20px
            width 100%
            border-radius 10px
            background-color #f0f0f0
        
        &__container
            border-radius 10px
            overflow hidden
            max-height 700px
            center()
            img
                width 100%
        
        &.image
            min-height 200px
        
        
        &:hover
            .new-add
                pointer-events all
                opacity 1
    
    &-close
        position fixed
        right 100px
        top 40px
        cursor pointer
        img
            width 50px
            pointer-events none
    
    &-add
        opacity 0
        pointer-events none
        position absolute
        width 30px
        height 30px
        border-radius 50%
        background-color #f0f0f0
        background-image url('../images/icon_plus-b.svg')
        background-size 40%
        background-repeat no-repeat
        background-position center
        cursor pointer
        left -50px
        t()
        &:after
            content ''
            position absolute
            right -40px
            width 50px
            height 60px
            top 0
        ul
            opacity 0
            pointer-events none
            position absolute
            left 0
            bottom 50px
            background-color #f0f0f0
            padding 10px
            border-radius 10px
            display flex
            &:after
                content ''
                position absolute
                left 0
                right 0
                bottom -50px
                height 50px

            li
                img
                    max-height 30px
                    width 30px
                    pointer-events none
        
        &.active
            ul
                opacity 1
                pointer-events all
    
    &-categories
        position fixed
        left 0
        right 0
        top 0
        bottom 0
        z-index 2
        center()
        opacity 0
        pointer-events none
        t()

        &.active
            opacity 1
            pointer-events all

        .center
            max-width 750px
            width 100%
            flex()
        
        &__item
            margin-right 10px
            margin-bottom 10px
            padding 7px 20px
            color white
            border-radius 30px
            font-size 22px
            color white
            font-weight 600
            cursor pointer
            t()
            &:hover
                background-color #fd9e80
            &.choise
                background-color #fd9e80
                &:hover
                    background-color red
        
        &__button
            position absolute
            right 30px
            bottom 30px
            padding 8px 18px
            background-color #2d2c3a
            border-radius 20px
            color white
            font-size 18px
            font-weight 600
            cursor pointer
            t()
    
    &-loader
        opacity 0
        position absolute
        pointer-events none
        + label
            left 0
            right 0
            top 0
            bottom 0
            position absolute
            background #f0f0f0
            display block
            border-radius 10px
            center()
    
    &-publish
        position absolute
        right 200px
        padding 12px 20px
        top 45px
        background #52cab9
        border-radius 10px
        font-weight 600
        font-size 16px
        color white
        cursor pointer