section.section.about
  .wrap
    img.questionnaire-icon(src="assets/images/profile_icon.svg")
    
    h2.section-title Расскажите о себе
    p.section-text Напишите несколько предложений, чем привлекла наша вакансия и что вы ожидаете от работы у нас.
    
    textarea.textarea(placeholder="Понравилась тем, что..." name="about" required )
    input(type="submit" value="Готово").button
