section.article
  .article-wrap
    .article-none(style="display:flex; align-items: center; justify-content: center; height: 100vh;")
      img(src="https://media.giphy.com/media/vAjo2mMFzuYow/giphy.gif")
    //- .article-header(style="background-image: url('assets/images/back3.jpg');")
    //-   .author
    //-     .author__avatar(style="background-image: url('assets/images/face.jpg');")
    //-       .author-cat
    //-         .author-cat__item.snowboard
    //-     p.author-name Mary Jackson
  
  //- .content
  //-   .content-wrap
  //-     .content-info
  //-       p.content-info__item 5 ноября
  //-       p.content-info__item 10 просмотров
  //-       p.content-info__item 2 комментария
      
  //-     .content-body
  //-       h1 Как правильно делать прыжок на сноуборде?
  //-       p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus.
  //-       p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
  //-       img(src="assets/images/image.jpg")
      
  //- .comments
  //-   .comments-center
  //-     .comments-header Комментарии
  //-       span 42
      
  //-     .comments-new
  //-       .comments__avatar(style="background-image: url('assets/images/face.jpg');")
  //-       form.comments-wrap
  //-         textarea.comments__textarea(type="Добавить комментарий")
  //-         input(type="submit").comments__send
  //-         .comments__image
  //-           input(type="file" value="Добавить изображение")#add-image
  //-           label(for="add-image") Добавить изображение
      
  //-     .comments-body
  //-       .comments-item
  //-         .comments__avatar(style="background-image: url('assets/images/face.jpg');")
  //-           span.snowboard
  //-         .comments-wrap
  //-           .comments-up
  //-             p.comments-item__name Travis Rice
  //-             p.comments-item__date 5 минут назад
  //-           p.comments-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
  //-           .comments-panel
  //-             .comments-ask Ответить
  //-             .emoji
  //-               .emoji-item
  //-                 img(src="assets/images/emoji/svg/001-happy.svg")
  //-                 p 7
  //-               .emoji-add
  //-                 img(src="assets/images/icon_plus-g.svg")
  //-                 .emoji-pack
  //-                   .emoji-item
  //-                     img(src="assets/images/emoji/svg/002-laughing.svg")
  //-                   .emoji-item
  //-                     img(src="assets/images/emoji/svg/003-crying.svg")
  //-                   .emoji-item
  //-                     img(src="assets/images/emoji/svg/004-angry.svg")
  //-                   .emoji-item
  //-                     img(src="assets/images/emoji/svg/005-tongue.svg")
  //-                   .emoji-item
  //-                     img(src="assets/images/emoji/svg/006-angry-1.svg")
  //-                   .emoji-item
  //-                     img(src="assets/images/emoji/svg/007-wink.svg")
  //-                   .emoji-item
  //-                     img(src="assets/images/emoji/svg/008-disappointed.svg")
  //-                   .emoji-item
  //-                     img(src="assets/images/emoji/svg/009-sad.svg")
  //-                   .emoji-item
  //-                     img(src="assets/images/emoji/svg/010-embarrassed.svg")
  //-                   .emoji-item
  //-                     img(src="assets/images/emoji/svg/011-surprised.svg")
  //-                   .emoji-item
  //-                     img(src="assets/images/emoji/svg/012-sad-1.svg")
  //-                   .emoji-item
  //-                     img(src="assets/images/emoji/svg/013-kiss.svg")