section.section.experience
  .wrap
    img.questionnaire-icon(src="assets/images/list_icon.svg")
    
    h2.section-title Расскажите о своем опыте
    
    .container
      .checkbox
        input#bem(type="checkbox" name="bem" checked)
        label(for="bem") БЭМ/OOCSS
      .checkbox
        input#place(type="checkbox" name="place" checked)
        label(for="place") Stylus/LESS/SASS
      .checkbox
        input#svg(type="checkbox" name="svg" checked)
        label(for="svg") Работаю с SVG
      .checkbox
        input#semantic(type="checkbox" name="email" checked)
        label(for="semantic") Верстаю семантично
      .checkbox
        input#es(type="checkbox" name="email" checked)
        label(for="es") ES2015/ES2016
      .checkbox
        input#gg(type="checkbox" name="email" checked)
        label(for="gg") Gulp/GRUNT
      .checkbox
        input#webp(type="checkbox" name="email" checked)
        label(for="webp") Webpack
      .checkbox
        input#jq(type="checkbox" name="email" checked)
        label(for="jq") jQuery
      .checkbox
        input#git(type="checkbox" name="email" checked)
        label(for="git") Ипользую Git
