header.header
  .wrap
    
    nav.nav
      ul.nav-list
        li.nav-list__item
          a(href=".personal") Личная информация
        li.nav-list__item
          a(href=".experience") Опыт
        li.nav-list__item
          a(href=".javascript") JavaSpript
        li.nav-list__item
          a(href=".about") О себе
    
    .header-gamburger
      .header-gamburger__item
      .header-gamburger__item
      .header-gamburger__item
    
