section.section.javascript
  .wrap
    img.questionnaire-icon(src="assets/images/js_icon.svg")
    
    h2.section-title Уровень владения JavaScript
    
    .range
      .range-info
        .range-elem
          p Не владею
          .circles        
            .circles__elem    
            .circles__elem       
            .circles__elem       
            .circles__elem       
            .circles__elem       
            .circles__elem       
            .circles__elem       
        .range-elem
          p Использую готовые решения
          .circles        
            .circles__elem       
            .circles__elem       
            .circles__elem       
            .circles__elem       
            .circles__elem       
            .circles__elem       
            .circles__elem       
        .range-elem
          p Использую готовые решения и умею и переделывать
          .circles        
            .circles__elem       
            .circles__elem       
            .circles__elem       
            .circles__elem       
            .circles__elem       
            .circles__elem       
            .circles__elem       
        .range-elem
          p Пишу сложный JS с нуля
          .circles        
            .circles__elem       
            .circles__elem       
            .circles__elem       
            .circles__elem       
            .circles__elem       
            .circles__elem       
            .circles__elem       
      input(type="range" min="0" max="400" step="100" value="200" data-rangeslider data-orientation="horizontal")
