section.menu
  a(href="#").logo
    img(src="assets/images/logo.png")
  .menu-user(style="background-image: url('assets/images/user.jpg');")
  .menu-add
    img(src="assets/images/icon_plus.svg")
  nav.nav
    .nav__line
    ul.nav-list
      li.nav-item
        img(src="assets/images/icon_fire.svg")
        .nav-item__desc
          p Лента
      li.nav-item
        img(src="assets/images/icon_map.svg")
        .nav-item__desc
          p Катания
      li.nav-item
        img(src="assets/images/icon_boot.svg")
        .nav-item__desc
          p Барахолка
