section.new.hidden
    .new-panel
        .new-publish Опубликовать
        .new-close
            img(src="assets/images/icon_close.svg")
    .new-content
        .new-center
            textarea.new-header(placeholder="Однажды на споте..." rows="1")
            .new-wrap
                .new-cats
                .new-cats__add
                    img(src="assets/images/icon_plus.svg")
            .new-workplace
                .new-item.paragraph
                    .new-add
                        ul
                            li.paragraph
                                img(src="assets/images/content-p.svg")
                            li.image
                                img(src="assets/images/content-i.svg")
                    textarea(rows="1")

            .new-categories
                .center
                    .new-categories__item(data-cat="ski") Лыжи
                    .new-categories__item(data-cat="snowboard") Сноуборд
                    .new-categories__item(data-cat="skate") Скейтбординг
                    .new-categories__item(data-cat="surf") Серфинг
                    .new-categories__item(data-cat="wind") Виндсерфинг
                    .new-categories__item(data-cat="long") Лонгборд
                .new-categories__button Добавить