section.panel
    .panel-user
        .user-avatar(style="background-image: url('assets/images/user.jpg');")
            .user-cats
                .user-cats__item
        p.user-name John Jackson
        a(href="#").panel-add
            p Создать