section.timeline
  .search
    .search-input
      img(src="assets/images/icon_search.svg").search__icon
      input(type="search" placeholder="Кто ищет - тот найдет")
  .timeline-body
  
    //- article.post
    //-   p.post-title Как правильно делать прыжок на сноуборде?
    //-   .category
    //-     .category-item.snowboard
    //-     .category-item.ski
    //-     .category-item.skateboard
    //-   .info
    //-     .info-wrap
    //-       p.info__tag Зимовка
    //-       p.info__date 5 минут назад
    //-     .info-wrap
    //-       a(href="#").info__flame
    //-         img(src="assets/images/icon_flame.svg")
    //-       a(href="#").info__user(style="background-image: url('assets/images/user.jpg');")
    
    //- article.post
    //-   p.post-title Где покататься в феврале на лыжах?
    //-   .category
    //-     .category-item.snowboard
    //-     .category-item.ski
    //-     .category-item.skateboard
    //-   .info
    //-     .info-wrap
    //-       p.info__tag Зимовка
    //-       p.info__date 5 минут назад
    //-     .info-wrap
    //-       a(href="#").info__flame
    //-         img(src="assets/images/icon_flame.svg")
    //-       a(href="#").info__user(style="background-image: url('assets/images/user.jpg');")
    
    //- article.post
    //-   p.post-title Собираемся с ребятами на Игору, да на лыжах.
    //-   .category
    //-     .category-item.snowboard
    //-     .category-item.ski
    //-     .category-item.skateboard
    //-   .info
    //-     .info-wrap
    //-       p.info__tag Зимовка
    //-       p.info__date 5 минут назад
    //-     .info-wrap
    //-       a(href="#").info__flame
    //-         img(src="assets/images/icon_flame.svg")
    //-       a(href="#").info__user(style="background-image: url('assets/images/user.jpg');")
    
    //- article.post
    //-   p.post-title Как я перестал бояться и купил Arbor Broken House.
    //-   .category
    //-     .category-item.snowboard
    //-     .category-item.ski
    //-     .category-item.skateboard
    //-   .info
    //-     .info-wrap
    //-       p.info__tag Зимовка
    //-       p.info__date 5 минут назад
    //-     .info-wrap
    //-       a(href="#").info__flame
    //-         img(src="assets/images/icon_flame.svg")
    //-       a(href="#").info__user(style="background-image: url('assets/images/user.jpg');")
    //- article.post
    //-   p.post-title Как правильно делать прыжок на сноуборде?
    //-   .category
    //-     .category-item.snowboard
    //-     .category-item.ski
    //-     .category-item.skateboard
    //-   .info
    //-     .info-wrap
    //-       p.info__tag Зимовка
    //-       p.info__date 5 минут назад
    //-     .info-wrap
    //-       a(href="#").info__flame
    //-         img(src="assets/images/icon_flame.svg")
    //-       a(href="#").info__user(style="background-image: url('assets/images/user.jpg');")
    
    //- article.post
    //-   p.post-title Где покататься в феврале на лыжах?
    //-   .category
    //-     .category-item.snowboard
    //-     .category-item.ski
    //-     .category-item.skateboard
    //-   .info
    //-     .info-wrap
    //-       p.info__tag Зимовка
    //-       p.info__date 5 минут назад
    //-     .info-wrap
    //-       a(href="#").info__flame
    //-         img(src="assets/images/icon_flame.svg")
    //-       a(href="#").info__user(style="background-image: url('assets/images/user.jpg');")
    
    //- article.post
    //-   p.post-title Собираемся с ребятами на Игору, да на лыжах.
    //-   .category
    //-     .category-item.snowboard
    //-     .category-item.ski
    //-     .category-item.skateboard
    //-   .info
    //-     .info-wrap
    //-       p.info__tag Зимовка
    //-       p.info__date 5 минут назад
    //-     .info-wrap
    //-       a(href="#").info__flame
    //-         img(src="assets/images/icon_flame.svg")
    //-       a(href="#").info__user(style="background-image: url('assets/images/user.jpg');")
    
    //- article.post
      p.post-title Как я перестал бояться и купил Arbor Broken House.
      .category
        .category-item.snowboard
        .category-item.ski
        .category-item.skateboard
      .info
        .info-wrap
          p.info__tag Зимовка
          p.info__date 5 минут назад
        .info-wrap
          a(href="#").info__flame
            img(src="assets/images/icon_flame.svg")
          a(href="#").info__user(style="background-image: url('assets/images/user.jpg');")
