extends ../layouts/default

block head

block content
	main.main
		include ../blocks/auth
		include ../blocks/new
		include ../blocks/menu
		include ../blocks/panel
		include ../blocks/timeline
		include ../blocks/article
		include ../blocks/message

	+script('common.min')
	+script('main')
	+script('learn')
