extends ../layouts/default

block head

block content
	main.main
		include ../blocks/menu
		include ../blocks/panel
		include ../blocks/timeline
		include ../blocks/article
	//- include ../blocks/footer

	+script('common.min')
	+script('main')
